html,body,.layout,.modal-container{
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  color: rgb(233, 241, 241);
    position: fixed;
    width: 100%;
    height: 100vh;
}
.layout{
    background-image: linear-gradient(to left, rgb(15, 80, 192),rgb(15, 120, 192),rgb(15, 150, 192),rgb(15, 170, 192),rgb(15, 180, 192));
}
.header{
padding: 15px;
margin: 0px;
font-size: 25px;
background-color: #052c5f;
position: sticky;
}

.countDown_type_indicator{
  display: flex;
  justify-content: center;
  font-size: 45px;
  padding: 25px;
}

.container_timer{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  font-size: 45px;
  opacity: 1.0;
  animation-name: time;
  animation-duration: 1s;
}

@keyframes time {
  0%{opacity: 0;}
  25%{opacity: 0.3;}
  50%{opacity: 0.5;}
  75%{opacity: 0.7;}
  100%{opacity: 1;}
}

.starter{
  display: flex;
  justify-content: center;
  min-height: 230px;
  padding: 20px;
  margin-top: 25px;
}

.timer{
  text-align: center;
  padding:10px;
  margin: 10px;
  box-shadow: 2px 2px 4px #000000;
  border: 1px solid #000000;
  font-size: 18px;
}

.button{
  border: 2px solid black;
  border-radius: 300px;
  padding: 60px;
  outline: #000000;
  color: white;
  font-size: 50px;
  background-color:transparent;
  box-shadow: 2px 2px 4px #000000;
}

.error{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
  font-size: 55px;
}


@media screen and (min-width: 600px) {
  .timer {
   font-size: 100px;
  }
}

@media screen and (min-width: 360px) and (max-width:600px){
  .timer {
   font-size: 35px;
  }
  .modal{
    width: 95%;
   }
   .error{
    font-size: 30px;
   }
}

@media screen and (max-width:360px) {
  .countDown_type_indicator{
    font-size: 25px;
    padding: 5px;
  }
  .modal{
   width: 95%;
  }
  .error{
    font-size: 30px;
   }
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 26px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 4px #000000;
    background-color: white;
    opacity: 1;
    z-index: 1000;  
}
.modal_header{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding: 15px;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width:100%;
  opacity: 0.9;
  min-height: 100vh;
  z-index: 1000;
  background-color: black;
  display: flex;
}

.modal-body{
  padding: 5px;
  border-bottom: 2px solid black;
  overflow-y: auto;
}
.modal-footer{
  display: flex;
  padding: 5px;
  justify-content: flex-end;
}
.cancel,.confirm{
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  outline: black;
  border: 2px solid black;
  border-radius: 5px;
}
.cancel{
  background-color: red;
}
.confirm {
  background-color: green;
}
.loading-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width:100%;
  opacity: 0.9;
  height: 100%;
  z-index: 1000;
  background-color: black;
  display: flex;
}



.time-reminder{
  padding: 2px;
  border:1px solid black;
  border-radius: 5px;
  background-color: rgb(15, 180, 192);
}

.danger{
  background-color: red;
}

.options-container{
margin-top: 5px;
}

.options-li{
  padding: 5px;
  margin-top: 5px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid yellow;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-background{
  border: 2px solid white;
  border-radius: 10%;
  background-color: white;
  padding: 15px;
}

.options-li:hover{
  background-color: #1691a1;
  box-shadow: 2px 2px 4px #000000;
}

.locked-answer{
  background-color: rgb(10, 238, 219);
  box-shadow: 2px 2px 4px #000000;
}
.correct-answer{
  background-color: green;
  box-shadow: 2px 2px 4px #000000;
}
.wrong-answer{
  background-color: red;
  box-shadow: 2px 2px 4px #000000;
}